.margin5{
		margin-top: 5px;
		margin-bottom: 5px;		
}

.format-table-blog{
	tr{
		td{
			a{color: inherit; display: block;}
		}
		&:hover{background: #444!important; color: #bbb;}
	}
}


.block-views-blockblogs-block-1{
	.block-title{text-align: center; text-transform: uppercase; color: #69c;}
	.view-blogs{
		.view-content{
			.format-row-blog{
				padding: 5px;
				margin-top: 5px;
				background-color: #ccc;
				.views-field-title{
					font-size: 24px;
					padding: 5px 0 0;
					margin-bottom: 5px;
					text-align: center;
					border-bottom: 2px dashed #00b;
				}
				.views-field-field-image{
					img{margin: auto auto 10px;}
				}
			}
		}
	}
}