body{
	background-color: #000;
	color: #bbb;
}

.format-table-blog{
	border-bottom: 1px solid #bbb;
	td{
		a{color: inherit; display: block;}
		border: inherit;
	}
	tr{
		&:hover{background: #bbb!important; color: #444;}
	}
}
.format-navbar{
	background: #444;
	.format-brand{
		color: #bbb;
	}
	ul{
		li{
			a{color: #fff !important;}
			&:hover{
				background-color: #bbb;
				a{color: #444!important;}
			}
		}
	}
}

.page-header, .format-table-blog caption{
	text-align: center;
	color: #aaa000;
}

.format-author{
	color: #77e6e6;
	margin-top: 10px;
	border-top: 2px dotted #fff;
}

.format-content{
	img{
		margin: auto;
	}
}

.region-sidebar-second{
	background-color: #444;
}